Link V1.0/AccountERP/Service References/MRPServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityHandler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LINKPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreditPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRNApprovedate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GRNNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedUser" type="xs:int" />
      <xs:element minOccurs="0" name="Modifieddate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoDays" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SupAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:int" />
      <xs:element minOccurs="0" name="Tot" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="VoucherDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VoucherID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LINKPayment" nillable="true" type="tns:LINKPayment" />
  <xs:complexType name="ArrayOfLINKPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LINKPayment" nillable="true" type="tns:LINKPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLINKPayment" nillable="true" type="tns:ArrayOfLINKPayment" />
  <xs:complexType name="ArrayOfCustomerMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerMaster" nillable="true" type="tns:CustomerMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerMaster" nillable="true" type="tns:ArrayOfCustomerMaster" />
  <xs:complexType name="CustomerMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ApprovedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Area" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credits_Limits" type="xs:decimal" />
      <xs:element minOccurs="0" name="CusFINCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other_Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerMaster" nillable="true" type="tns:CustomerMaster" />
</xs:schema>