Link V1.0/AccountERP/Service References/MRPServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://198.101.10.177/WCFMRP/Service.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://198.101.10.177/WCFMRP/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://198.101.10.177/WCFMRP/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityHandler" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service_GetCreditorFinal_InputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinal" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinal_OutputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalResponse" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplierList_InputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplierList" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplierList_OutputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplierListResponse" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplier_InputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplier" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplier_OutputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplierByID_InputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplierByID" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalSupplierByID_OutputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalSupplierByIDResponse" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalGRN_InputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalGRN" />
  </wsdl:message>
  <wsdl:message name="Service_GetCreditorFinalGRN_OutputMessage">
    <wsdl:part name="parameters" element="GetCreditorFinalGRNResponse" />
  </wsdl:message>
  <wsdl:message name="Service_GetCustomerMaster_InputMessage">
    <wsdl:part name="parameters" element="GetCustomerMaster" />
  </wsdl:message>
  <wsdl:message name="Service_GetCustomerMaster_OutputMessage">
    <wsdl:part name="parameters" element="GetCustomerMasterResponse" />
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="GetCreditorFinal">
      <wsdl:input wsaw:Action="urn:Service/GetCreditorFinal" message="Service_GetCreditorFinal_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCreditorFinalResponse" message="Service_GetCreditorFinal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditorFinalSupplierList">
      <wsdl:input wsaw:Action="urn:Service/GetCreditorFinalSupplierList" message="Service_GetCreditorFinalSupplierList_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCreditorFinalSupplierListResponse" message="Service_GetCreditorFinalSupplierList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditorFinalSupplier">
      <wsdl:input wsaw:Action="urn:Service/GetCreditorFinalSupplier" message="Service_GetCreditorFinalSupplier_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCreditorFinalSupplierResponse" message="Service_GetCreditorFinalSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditorFinalSupplierByID">
      <wsdl:input wsaw:Action="urn:Service/GetCreditorFinalSupplierByID" message="Service_GetCreditorFinalSupplierByID_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCreditorFinalSupplierByIDResponse" message="Service_GetCreditorFinalSupplierByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditorFinalGRN">
      <wsdl:input wsaw:Action="urn:Service/GetCreditorFinalGRN" message="Service_GetCreditorFinalGRN_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCreditorFinalGRNResponse" message="Service_GetCreditorFinalGRN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerMaster">
      <wsdl:input wsaw:Action="urn:Service/GetCustomerMaster" message="Service_GetCustomerMaster_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service/GetCustomerMasterResponse" message="Service_GetCustomerMaster_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>